html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgba(128, 128, 128, 0.137);
}

.main-container {
    padding-top: 1em;
    width: 60%;           /* Set the width of the main container */
    
    /* ++++++++ CHANGE HEIGHT +++++++++ */
    height: auto;
    /* ++++++++ CHANGE HEIGHT +++++++++ */
    
    margin: 0 auto;       /* Auto margins for horizontal centering */
    display: flex;        /* Flex display to enable flex properties on children */
    flex-direction: column;
    /* background-color: red; */
}

.content {
    flex-grow: 1;         /* Allow the content to grow and fill the container */
}

hr {
    border: none;
    border-top: 0.3em dotted black;
}

.footer {
    flex-shrink: 0;
}

/* Base styles - apply to all sizes, then modify as needed for larger screens */

/* Small devices (phones, 600px and down) */


/* @media only screen and (max-width: 600px) { */
    /* body { */
        /* background-color: lightblue; */
    /* } */
    /* Other styles for small devices */
/* } */

/* Medium devices (tablets, 600px to 1024px) */
/* @media only screen and (min-width: 601px) and (max-width: 1024px) { */
    /* body { */
        /* background-color: lightgreen; */
    /* } */
    /* Other styles for medium devices */
/* } */

/* Large devices (laptops/desktops, 1024px and up) */
/* @media only screen and (min-width: 1025px) { */
    /* body { */
        /* background-color: lightyellow; */
    /* } */
    /* Other styles for large devices */
/* } */
