<!DOCTYPE html>
<html lang="en" style="height: 100%;">
<head>
    <!-- Head contents like meta tags, title, etc. -->
    {% include 'header.html' %}
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Varian Medical Hungary - Radiation Therapy Treatment Optimization</title>
</head>
<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
        <div class="container mt-3">
            <h1 style="margin-top: 2em;">Welcome to Varian Medical Hungary's Treatment Scheduler</h1>
            <p>FIGHTING FOR A WORLD WITHOUT FEAR OF CANCER!</p>
            
            <section>
                <h2>Our Mission</h2>
                <p>At Varian, a Siemens Healthineers company, our goal is to envision a world without fear of cancer. Through innovative cancer care technologies, we empower clinical partners globally to treat millions of patients annually.</p>
            </section>

            <section>
                <h2>Optimize Radiation Therapy Treatments</h2>
                <p>Utilizing advanced AI and machine learning, our system optimizes the scheduling of cancer treatments across multiple linear accelerators, ensuring efficient and equitable use of resources.</p>
            </section>

            <section>
                <h2>Linear Accelerators at Your Fingertips</h2>
                <p>Choose the most suitable linear accelerator for each patient based on treatment requirements:</p>
                <ul>
                    <li><a href="/VitalBeam1.html">VitalBeam 1</a> - Versatile and robust for diverse treatment needs.</li>
                    <li><a href="/VitalBeam2.html">VitalBeam 2</a> - Ideal for complex cases, offering precision and flexibility.</li>
                    <li><a href="/TrueBeam1.html">TrueBeam 1</a> & <a href="/TrueBeam2.html">TrueBeam 2</a> - Advanced technology for high-precision treatments.</li>
                    <li><a href="/Unique.html">Unique Clinac</a> - Streamlined and efficient for specific treatment types.</li>
                </ul>
                <p>Click links to see the timetable of each machine or click one in the menu bar.</p>
            </section>
            

            <section>
                <h2>Meet the Team</h2>
                <p>Our dedicated team behind this project includes: Toma Sulava-Sulaberidze, Konstantine Nebieridze, Luka Shalamberidze, and Luka Mumladze. Each member brings unique skills and insights to drive innovation in cancer treatment.</p>
            </section>
        </div>
    </main>
    {% include 'footer.html' %}
</body>
</html>
